# API
fastapi==0.116.1
uvicorn[standard]==0.35.0

# Database
SQLAlchemy==2.0.42
psycopg[binary]==3.2.10
alembic==1.16.4

# Auth
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-dotenv==1.2.2

# Cache
redis==6.4.0

# Settings & Logging
pydantic-settings==2.10.1
python-json-logger==3.3.0

# Tests
pytest==8.4.1
httpx==0.28.1
pytest-asyncio==1.1.0

# Linting
ruff==0.12.8